@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

.videoPlayer iframe {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border-style: none;
  border-bottom: none;
}

.autoPlayWarning {
  position: absolute;
  z-index: 100;
  font-size: x-large;
  color: white;
  width: 100%;
  background-color: rgba(6,23,42,0.5);
  bottom: 20%;
  vertical-align: middle;
  text-align: center;
  pointer-events: none;

}

.websiteIframeWrapper,
.websiteIframeContainer,
.websiteIframe
{
  height: 100%;
  width: 100%;
}

.websiteIframeLaunchExternal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.websiteIframeLaunchExternalMessage {
  background: var(--systemMessage-background-color);
  border: 1px solid var(--systemMessage-border-color);
  border-radius: var(--border-radius);
  font-weight: var(--btn-font-weight);
  padding: var(--font-size-base);
}